<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style type="text/css">
       html, body { height: 100%; margin: 0; padding: 0; }
       #map { height: 65vh; }
     </style>
     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5iAPUix9Jg8ZeI2Cd1Mghn6dvr5pqzDU&callback=initMap&libraries=geometry"
        async defer></script>


    <%= yield %>




  </body>
</html>
